.left-aligned { text-align: left; }





 h2 {
    color: #1bd66f; /* Silver color for headings */
}

body { font-family: Arial, sans-serif; margin: 20px; } 
h1 { color: #4CAF50; } 
ul { list-style-type: disc; padding-left: 20px; } 
li { margin-bottom: 10px; }